.img-box {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

/* รูปตอนปกติ */
.gallery-img {
  width: 100%;
  height: 250px;
  object-fit: cover;

  filter: grayscale(100%);
  opacity: 0.4;

  transition: filter 0.5s ease, opacity 0.5s ease;
}

/* เวลาชี้: ทั้งกรอบ + รูป ซูม */
.img-box:hover {
  transform: scale(1.1);
}

/* เวลาชี้: รูปกลับมาสีปกติ */
.img-box:hover .gallery-img {
  filter: grayscale(0%);
  opacity: 1;
}
.img-box {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* ตอนยังไม่ hover */
.img-box {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* ตอน hover: ลอยขึ้น + เงา */
.img-box:hover {
  transform: scale(1.1) translateY(-8px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.35);
}
